@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'), url('fonts/Museosanscyrl500.woff2') format('woff2'), url('fonts/Museosanscyrl500.woff') format('woff'), url('fonts/Museosanscyrl500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
* {
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: black;
}
p,
span,
a,
h1,
h2,
div,
input,
button {
  font-family: 'Museo Sans Cyrl';
}
.more-button {
  display: inline-block;
  padding: 15px 40px;
  border: 2px solid #ff7200;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  transition: 0.25s;
}
.more-button:hover {
  box-shadow: inset 0 0 0 2em #ff7200;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  color: white;
}
.container {
  overflow: hidden;
}
header {
  background-image: url('images/header-bcg.png');
  background-size: cover;
  padding: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.header-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1350px;
  height: 675px;
}
.top-head-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.nav-wrapper {
  display: -webkit-box;
  display: flex;
}
.logo {
  overflow: hidden;
}
.logo img {
  height: 100%;
  width: 65px;
}
.top-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 450px;
}
.nav-elem {
  display: block;
  margin-left: 45px;
  text-align: center;
}
.nav-elem a {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
}
.auth-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.auth-button {
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
  border: 1px solid #2d5baa;
  border-radius: 5px;
  padding: 10px 31px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}
.auth-button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #207cde;
}
.auth-button:hover span {
  -webkit-transform: translateY(0) scale(2);
  transform: translateY(0) scale(2);
}
.auth-button span {
  position: absolute;
  width: 47%;
  height: 100%;
  background-color: #207cde;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.auth-button span:nth-child(1) {
  --n: 1;
}
.auth-button span:nth-child(2) {
  --n: 2;
}
.auth-button span:nth-child(3) {
  --n: 3;
}
.auth-button span:nth-child(4) {
  --n: 4;
}
.sing-up {
  margin-left: 15px;
}
.mid-head-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.mid-head-container .main-text {
  font-size: 44px;
  font-weight: bold;
}
.mid-head-container .secondary-text {
  margin-top: 20px;
  font-size: 24px;
}
.bot-head-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.icon-list {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 35px;
  max-width: 875px;
  width: 100%;
}
.icon-elem {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 165px;
  color: white;
  text-align: center;
}
.icon-elem img {
  height: 100%;
  width: 90px;
}
.icon-elem span {
  margin-top: 20px;
}
.section-wrapper {
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 10px;
}
.section-title {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 115px;
}
main {
  background-color: #fff;
}
.section {
  margin: auto;
  max-width: 1350px;
}
.main-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.news-section {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding-bottom: 135px;
}
.news-block-wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.more-news {
  bottom: -25px;
  background-color: #fff;
  display: block;
  margin: auto;
  left: calc(50% - 83px);
}
.news-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 31%;
  margin-top: 25px;
  height: 550px;
  overflow: hidden;
  position: relative;
}
.news-block:hover .block-text {
  margin-top: -35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
.img-wrapper {
  max-height: 55%;
}
.img-wrapper .block-img {
  height: 100%;
  width: 100%;
}
.block-text {
  background-color: #fff;
  text-align: left;
  margin-right: 35px;
  transition: 0.2s;
}
.block-text .text-head {
  margin-top: 35px;
  font-size: 24px;
  line-height: 1.2;
  text-transform: capitalize;
}
.block-text .text-main {
  margin-top: 10px;
  line-height: 1.2;
}
.block-text .read-more {
  position: absolute;
  bottom: -35px;
}
.block-text .read-more:before {
  content: "\ea77";
  margin-right: 5px;
}
.block-text .read-more a {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #b2b2b2;
}
.img-slider-section {
  overflow: hidden;
  width: 100%;
}
.slider-container {
  display: -webkit-box;
  display: flex;
  max-height: 540px;
  margin-top: 60px;
  justify-content: center;
  -ms-overflow-style: none;
}
.slider-container::-webkit-scrollbar {
  display: none;
}
.slider-img-node {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-left: 3px;
}
.slider-img-node:nth-child(2n) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}
.slider-img-node:nth-child(2n) .img-large-node .img-block {
  height: 350px;
  width: 353px;
  margin-top: 3px;
}
.img-large-node .img-block {
  height: 350px;
  width: 100%;
  margin-bottom: 3px;
  overflow: hidden;
}
.img-small-node {
  display: -webkit-box;
  display: flex;
}
.img-small-node .img-block {
  overflow: hidden;
  margin-right: 3px;
  height: 175px;
  width: 175px;
}
.img-small-node .img-block:nth-child(2n) {
  margin-right: 0;
}
.img-block img {
  width: 100%;
  height: 100%;
}
.vacancies-section {
  padding-bottom: 130px;
  position: relative;
}
.vacancy-block-container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 55px;
}
.vacancy-block {
  display: -webkit-box;
  display: flex;
  width: 49%;
  -webkit-box-align: center;
  align-items: center;
  padding: 26px;
  background-color: #f2f2f2;
  margin-bottom: 25px;
  border: 2px solid #f2f2f2;
  transition: 0.3s;
}
.vacancy-block:nth-child(5) {
  margin-bottom: 0;
}
.vacancy-block:nth-child(6) {
  margin-bottom: 0;
}
.vacancy-block:hover {
  border: 2px solid #cccccc;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.vacancy-block:hover .vacancy-img {
  height: 55px;
  width: 55px;
  font-size: 55px;
  transition: 0.2s;
  color: #086ad3;
}
.vacancy-img {
  transition: 0.2s;
  height: 55px;
  width: 55px;
  font-size: 55px;
}
.vacancy-text {
  margin-left: 100px;
  text-align: left;
}
.vacancy-text .situation {
  font-size: 14px;
  color: #787878;
}
.vacancy-text .vacancy-main-text {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}
.vacancy-text .no-img {
  font-size: 16px;
  color: #787878;
  margin-top: 10px;
}
.more-vacancies {
  left: calc(50% - 101.5px);
  bottom: 0;
  bottom: -25px;
  background-color: #fff;
}
footer {
  background-image: url(images/footerbg.png);
  background-size: cover;
}
.sign-up-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-top: 105px;
  padding: 10px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.section-title h2,
.section-title p {
  color: white;
}
.section-title p {
  margin-top: 20px;
  font-size: 18px;
}
.form {
  margin-top: 40px;
  margin-bottom: 140px;
}
.form .email-input {
  border: none;
  width: 280px;
  padding: 15px 20px;
  font-size: 16px;
  border-right: 6px solid transparent;
}
.form .email-subscribe {
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 20px;
  background-color: #00a0de;
  border: 2px solid #00a0de;
  color: white;
}
@media (max-width: 1440px) {
  .header-wrapper,
  .section {
    width: 960px;
  }
  .nav-elem a {
    font-size: 14px;
  }
  .icon-elem {
    max-width: 100px;
  }
  .icon-elem img {
    width: 65px;
  }
  .news-block {
    width: 48%;
  }
  .vacancy-block {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .vacancy-block:nth-child(5) {
    margin-bottom: 25px;
  }
  .vacancy-block .vacancy-text {
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 960px) {
  .header-wrapper,
  .section {
    max-width: 740px;
  }
  .section-wrapper {
    display: flex;
  }
  .top-nav .nav-elem {
    margin-left: 15px;
  }
  .top-nav .nav-elem a {
    font-size: 12px;
  }
  .news-block-wrapper {
    justify-content: center;
  }
  .news-block {
    width: 100% !important;
    height: 500px;
  }
  .news-block .img-wrapper {
    display: flex;
    justify-content: center;
  }
  .news-block .block-img {
    width: 60%;
  }
  .auth-wrapper {
    margin-left: 15px !important;
  }
  .auth-button {
    padding: 3px 15px !important;
    font-size: 12px !important;
  }
}
